<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<form action="{% url 'do_delete_file' %}" method="post">
{% csrf_token %}
    Select file to delete:<br>
    {% for file in files %}
        <input type="radio" name="name" id="file{{ forloop.counter }}" value="{{ file.name }}">
        <label for="file{{ forloop.counter }}">{{ file.name }}</label><br>
    {% endfor %}
<br>
<input type="submit" value="Delete">
</form>
</body>