{% for dir in dirs %}
    {% if dir.parent_dir|stringformat:"s" == parent|stringformat:"s" %}
        <li>
            <b>{{ dir.name }}</b>

            <ul class="file_list">
                {% for file in files %}
                    {% if file.directory == dir %}
                            <li><a href="{% url 'display_file' %}?name={{file.name}}">{{ file.name }}</a></li>                    {% endif %}
                {% endfor %}
            </ul>

            <ul class="file_list">
                {% include "framaw/file_menu.html" with parent=dir.name %}
            </ul>
        </li>
    {% endif %}
{% endfor %}