{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'framaw/style.css' %}">
</head>
<body>
{% for dir in dirs %}
    {% if dir.parent_dir|stringformat:"s" == parent|stringformat:"s" %}
        <li>
            <b>{{ dir.name }}</b>

            <ul class="file_list">
                {% for file in files %}
                    {% if file.directory == dir %}
                        <li><button type="button" onclick="changeFile('{{ file.name }}')">{{ file.name }}</button></li>
                        {% comment %}
                        <li><a href="{% url 'display_file' %}?name={{file.name}}">{{ file.name }}</a></li>
                        {% endcomment %}
                    {% endif %}
                {% endfor %}
            </ul>

            <ul class="file_list">
                {% include "framaw/file_menu.html" with parent=dir.name %}
            </ul>
        </li>
    {% endif %}
{% endfor %}
</body>