{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frama-Web</title>
    <link rel="stylesheet" type="text/css" href="{% static 'framaw/style.css' %}">
</head>

<body>
<div class="menu_bar">
    <a href="{% url 'new_file' %}">New File</a>
    <a href="{% url 'new_directory' %}">New Directory</a>
    <a href="{% url 'delete_file' %}">Delete File</a>
    <a href="{% url 'delete_dir' %}">Delete Directory</a>
    {% if 'prover' in request.GET or 'rte' in request.GET %}
        {% if 'name' in request.GET and request.GET.name != "" %}
            {% if 'prover' in request.GET and 'rte' in request.GET %}
                <a href="{% url 'display_file' %}?name={{selected_file.name}}&prover={{ request.GET.prover }}&rte=on">Rerun Verification</a>
            {% elif 'prover' in request.GET %}
                <a href="{% url 'display_file' %}?name={{selected_file.name}}&prover={{ request.GET.prover }}">Rerun Verification</a>
            {% else %}
                <a href="{% url 'display_file' %}?name={{selected_file.name}}&rte=on">Rerun Verification</a>
            {% endif %}
        {% endif %}
    {% endif %}
</div>

<div class="side">
    <div class="file_select">
        <ul class="file_list">
            {% for dir in dirs %}
                {% if dir.parent_dir == null %}
                    <li><b>{{ dir.name }}</b></li>

                    <ul class="file_list">
                    {% for file in files %}
                        {% if file.directory == dir %}
                            <li><a href="{% url 'display_file' %}?name={{file.name}}">{{ file.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>

                    <ul class="file_list">
                        {% include "framaw/file_menu.html" with parent=dir.name %}
                    </ul>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="main">
        <div class="text_field">
            {% if selected_file != "" %}
                <pre>{{ selected_file.content|linenumbers }}</pre>
            {% endif %}
        </div>
    </div>
    <div class="focus">
        <pre>{{ focus_content|linenumbers }}</pre>
    </div>
    <div class="tab_data">
        <div class="tab">
            <button class="tablinks active" onclick="openTab(event, 'prover_tab')">Provers</button>
            <button class="tablinks" onclick="openTab(event, 'vc_tab')">VCs</button>
            <button class="tablinks" onclick="openTab(event, 'result_tab')">RESULT</button>
        </div>

        <div>
            <ul id="prover_tab" class="tabcontent">
            {% for prover in provers %}
                {% if 'rte' in request.GET %}
                    <li><a href="{{ request.get_path }}?name={{ selected_file.name }}&prover={{ prover }}&rte={{ request.GET.rte }}">{{ prover }}</a></li>
                {% else %}
                    <li><a href="{{ request.get_path }}?name={{ selected_file.name }}&prover={{ prover }}">{{ prover }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>

            <ul id="vc_tab" class="tabcontent" style="display: none">
                {% if 'prover' in request.GET %}
                    <li><a href="{{ request.get_path }}?name={{ selected_file.name }}&prover={{ request.GET.prover }}&rte=on">ON</a></li>
                    <li><a href="{{ request.get_path }}?name={{ selected_file.name }}&prover={{ request.GET.prover }}">OFF</a></li>
                {% else %}
                    <li><a href="{{ request.get_path }}?name={{ selected_file.name }}&rte=on">RTE ON</a></li>
                    <li><a href="{{ request.get_path }}?name={{ selected_file.name }}">RTE OFF</a></li>
                {% endif %}
            </ul>

            <div id="result_tab" class="tabcontent" style="display: none">
                <pre>{{ result_summary }}</pre>
            </div>
        </div>

    </div>
</div>
        <script>
        function openTab(event, selected) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(selected).style.display = "block";
            event.currentTarget.className += " active";
        }
        </script>
</body>
</html>