{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'framaw/style.css' %}">
</head>
<body>
<form action="{% url 'create_directory' %}" method="post">
{% csrf_token %}
Select parent directory (or none):<br>

        <input type="radio" name="parent_dir" id="dir_none" value="">
        <label for="dir_none">None</label><br>
    {% for dir in dirs %}
        <input type="radio" name="parent_dir" id="dir{{ forloop.counter }}" value="{{ dir.id }}">
        <label for="dir{{ forloop.counter }}">{{ dir.name }}</label><br>
    {% endfor %}

    <label>Name
        <input type="text" name="name">
    </label><br>

    <label>Description<br>
        <input type="text" name="description" style="width: 20vw; height: 20vh">
    </label><br>
<br>
<input type="submit" value="Create">
</form>
</body>