<form action="{% url 'create_file' %}" method="post">
{% csrf_token %}
Select parent directory for new file:<br>

    {% for dir in dirs %}
        <input type="radio" name="parent_dir" id="dir{{ forloop.counter }}" value="{{ dir.id }}">
        <label for="dir{{ forloop.counter }}">{{ dir.name }}</label><br>
    {% endfor %}

    <label>Filename
        <input type="text" name="name">
    </label><br>

    <label>Description<br>
        <input type="text" name="description" style="width: 20vw; height: 20vh">
    </label><br>

    <label>Content<br>
        <input type="text" name="content" style="width: 60vw; height: 50vh">
    </label>
<br>
<input type="submit" value="Create">
</form>