<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <form action="{% url 'create_file' %}" id="file_form" method="post">
    {% csrf_token %}
    Select parent directory for new file:<br>

        {% for dir in dirs %}
            <input type="radio" name="parent_dir" id="dir{{ forloop.counter }}" value="{{ dir.id }}">
            <label for="dir{{ forloop.counter }}">{{ dir.name }}</label><br>
        {% endfor %}

        <label>Filename<br>
            <input type="text" name="name">
        </label><br>

        <label>Owner<br>
            <input type="text" name="owner">
        </label><br>

        <label>Description<br>
            <input type="text" name="description" style="width: 20vw">
        </label><br>
    <br>
    <input type="submit" value="Create">
    </form>
    File content:<br>
    <textarea name="content" form="file_form" style="width: 40vw; height:40vh">
    </textarea>

</body>
</html>